/* CSS with unique class names */
.container-main-forgot-password {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container-forgot-password {
  background-color: #e5ccff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: #4b0082;
  text-align: center;
}
.container-forgot-password h2 {
  margin-top: 0;
}
.container-forgot-password input[type="email"] {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border-radius: 5px;
  border: none;
}
.container-forgot-password input[type="submit"] {
  padding: 10px;
  border: none;
  background-color: #4b0082;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}
.container-forgot-password input[type="submit"]:hover {
  background-color: #6a0dad;
}
